*

!/CMakeLists.txt
!/Diagrams.drawio
!/LICENSE
!/README.md
!/.gitignore

!/include

!/include/algorithms

!/include/algorithms/dijkstraclassic.h

!/include/graph

!/include/graph/bidirectionaledge.h
!/include/graph/bidirectionalgraph.h
!/include/graph/empty_vertex.h
!/include/graph/ibidirectionaledge.h
!/include/graph/iedge.h
!/include/graph/igraph.h
!/include/graph/ivertex.h
!/include/graph/iweightedge.h
!/include/graph/orientedgraph.h
!/include/graph/vertex.h
!/include/graph/weightbidirectionaledge.h

!/include/utils

!/include/utils/edge_hasher.h

!/src

!/src/algorithms

!/src/algorithms/dijkstraclassic.cpp

!/src/graph

!/src/graph/bidirectionaledge.cpp
!/src/graph/bidirectionalgraph.cpp
!/src/graph/empty_vertex.cpp
!/src/graph/ibidirectionaledge.cpp
!/src/graph/iedge.cpp
!/src/graph/igraph.cpp
!/src/graph/ivertex.cpp
!/src/graph/iweightedge.cpp
!/src/graph/orientedgraph.cpp
!/src/graph/vertex.cpp
!/src/graph/weightbidirectionaledge.cpp

!/src/utils

!/src/utils/edge_hasher.cpp
