*

!/CMakeLists.txt
!/Diagrams.drawio
!/LICENSE
!/README.md
!/.gitignore

!/include

!/include/algorithms

!/include/algorithms/dijkstra_classic.h
!/include/algorithms/dijkstra_sparse.h
!/include/algorithms/spanning_kruskal.h

!/include/graph

!/include/graph/bidirectional_edge.h
!/include/graph/bidirectional_graph.h
!/include/graph/empty_vertex.h
!/include/graph/ibidirectional_edge.h
!/include/graph/iedge.h
!/include/graph/igraph.h
!/include/graph/ivertex.h
!/include/graph/iweight_edge.h
!/include/graph/oriented_graph.h
!/include/graph/vertex.h
!/include/graph/weight_bidirectional_edge.h
!/include/graph/weight_edge.h

!/include/utils

!/include/utils/edge_hasher.h

!/src

!/src/algorithms

!/src/algorithms/dijkstra_classic.cpp
!/src/algorithms/dijkstra_sparse.cpp
!/src/algorithms/spanning_kruskal.cpp

!/src/graph

!/src/graph/bidirectional_edge.cpp
!/src/graph/bidirectional_graph.cpp
!/src/graph/empty_vertex.cpp
!/src/graph/ibidirectional_edge.cpp
!/src/graph/iedge.cpp
!/src/graph/igraph.cpp
!/src/graph/ivertex.cpp
!/src/graph/iweight_edge.cpp
!/src/graph/oriented_graph.cpp
!/src/graph/vertex.cpp
!/src/graph/weight_bidirectional_edge.cpp
!/src/graph/weight_edge.cpp

!/src/utils

!/src/utils/edge_hasher.cpp
