*

!/CMakeLists.txt
!/.gitignore
!/Diagrams.drawio

!/src
!/src/graph

!/include

!/include/graph
!/include/graph/empty_vertex.h
!/include/graph/vertex.h

!/include/private
!/include/private/ivertex.h
!/include/private/iedge.h

!/include/utils
!/include/utils/edge_hasher.h
